<h1>Add an Address to <%= @contact.first_name() %> </h1>

<form action="/addresses" method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>

  <label for='city'>City:</label>
  <input id='city' name='city' type='text'>

  <label for='state'>State:</label>
  <input id='state' name='state' type='text'>

  <label for='zip'>Zip:</label>
  <input id='zip' name='zip' type='text'>

  <label for='type'>Type:</label>
  <input id='type' name='type' type='text'>

  <button type="submit">Add Address</button>
</form>
